
.todoitem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.todolist {
    background-color: mediumseagreen;
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
}

input[type=checkbox] {
    margin-right: 20px;
}

input[type=checkbox]:focus {
    outline: 0;
}